@import "tailwindcss";
 
@theme {
  --font-heading: "Playfair Display", serif;
  --font-body: "Poppins", sans-serif;

  --color-cream: #ffffff;
  --color-mist: #f7f7f8;
  --color-charcoal: #2c2c2c;
  --color-gold: #c9a24b;
}

body {
  @apply font-body bg-cream text-charcoal scroll-smooth;
}

h1, h2, h3 {
  @apply font-heading;
}